fastapi==0.112.2
datasets==2.19.1
accelerate==1.0.1
numpy==1.26.4
#torch==2.3.1
safetensors==0.4.5
uvicorn==0.32.1
tokenizers==0.20.1
transformers==4.45.2
pytest==7.2.2
pytest-cov==4.0.0
coverage-badge~=1.1.0